* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
  }
  body {
    /* background: #7e8288; */
  }
  .container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
  }
  

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .block input {
    padding: 10px;
    outline: none;
    /* background-color: #b97676; */
    font-size: 18px;
  }
  
  .block a {
    font-size: 50px;
    text-decoration: none;
  }
  
  .characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .card {
    align-items: center;
    justify-content: center;
    /* border-radius: 50px; */
    background:#000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card img {
    /* border-radius:70px; */
  }
  .cardh1 {
    font-size: 15px;
    color: aqua;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination button {
    /* border: 2px solid gold; */
    padding: 8px;
    cursor: pointer;
    font-size: 24px;
  }
  .pagination button:hover {
    background: gold;
    color: white;
    font-size: 24px;
  }